name: Tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 'stable'
    - run: make validate

  test:
    strategy:
      fail-fast: false
      matrix:
        # Run tests across all platforms, to ensure developers
        # can use any environment to run basic tests.
        platform: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.platform }}
    needs: [ validate ]

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 'stable'
  
    - run: make test

  e2e:
    strategy:
      fail-fast: false
      matrix:
        # Works on macos-12, but takes a very long time to run so this
        # is currently disabled.
        platform: [ubuntu-latest]
  
    runs-on: ${{ matrix.platform }}
    needs: [ validate ]

    steps:
    - name: Setup docker (MacOS only)
      if: runner.os == 'macos'
      run: |
        brew install docker
        colima start
    - name: Setup QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
  
    - name: Test building images
      run: make test-image

    - name: E2E Tests
      run: make e2e
